{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Challan</title>
    <link rel = "icon" href = "{% static 'src/img/page-logo.png' %}" type = "image/x-icon">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="page-header">
            <div class="page-logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'src/img/page-logo.png' %}" alt="Page Logo">
                </a>
            </div>
            <div class="page-nav">
                <ul>
                    <li>
                        <a href="{% url 'home' %}" >Home</a>
                    </li>
                    <li>
                        <a href="{% url 'create' %}" class="active-page">Create Challan</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </ul>
        </div>
    </header>

    <main class="main-body-section">
        <div class="create-form-section">
            <h1>Create Challan</h1>
            <form action="#" method="POST" class="create-form">
                {% csrf_token %}
                <div class="form-option">
                    <label for="">Name</label>
                    <input  name = 'names' type="text">
                </div>
                <div class="form-option">
                    <label for="">Phone Number</label>
                    <input name = 'phonenumber' type="text">
                </div>
                <div class="form-option">
                    <label for="">Place</label>
                    <input name = 'place' type="text">
                </div>
                <div class="form-option">
                    <label for="">License Number</label>
                    <input name = 'licensenumber' type="text">
                </div>
                <div class="form-option">
                    <label for="">Vehicle Number</label>
                    <input name = 'vehiclenumber' type="text">
                </div>
                <div class="form-option">
                    <label for="">Vehicle Type</label>
                    <!-- <select name="Vehicle Type" id="">
                        <option value="Car">Car</option>
                        <option value="Motorcycle">Motorcycle</option>
                        <option value="Bus">Bus</option>
                        <option value="Van">Van</option>
                        <option value="Truck">Truck</option>
                    </select> -->
                    <input name = 'vehicletype'  type="text">
                </div>
                <div class="form-option">
                    <label for="">Created By</label>
                    <input name = 'creator' type="text">
                </div>
                <input class="submit-btn" type="submit">
            </form>
        </div>
    </main>
    <footer class="page-footer">
        <div class="footer-logo">
            <img src="src/img/page-logo.png" alt="Page Logo">
        </div>
        <span class="copyright">Copyright &#169; E-Challan 2021 </span>
        <div class="contact-info">
            <span>Email: abcd@gmail.com</span>
            <span>Phone:1234567890</span>
        </div>
    </footer>
    <script src="{% static 'Js/overlay.js' %}"></script>
</body>
</html>