{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kathmandu E-Challan</title>
    <link rel = "icon" href = {% static 'src/img/page-logo.png' %}  type = "image/x-icon">
    <link rel="stylesheet" href={% static 'styles/log-in.css' %}>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="page-header">
        <div class="page-logo">
            <img src={% static 'src/img/page-logo.png' %} alt="Logo">
        </div>
    </header>
    <div class="main-page-content">
        <div class="page-title">
            <h1>E-Challan Website</h1>
        </div>
        <form action="" method = "post" class="sign-in-form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
            
        </form>
    </div>

    <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>
    <footer class="page-footer">
        <div class="footer-logo">
            <img src={% static 'src/img/page-logo.png' %} alt="Logo">
        </div>
        <div class="contact-info">
            <span class="contact-us-title">Contact Us</span>
            <div class="contact-details">
                <span>Phone: 1234567890</span>
                <span>Email: abcd@gmail.com</span>
            </div>
        </div>
    </footer>
</body>
</html>