{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Challan</title>
    <link rel = "icon" href = "{% static 'src/img/page-logo.png' %}" type = "image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
    <header>
        <div class="page-header">
            <div class="page-logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'src/img/page-logo.png' %}" alt="Page Logo">
                </a>
            </div>
            <div class="page-nav">
                <ul>
                    <li>
                        <a href="{% url 'home' %}" class="active-page">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'create' %}">Create Challan</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li>
                        <a href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Login </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
          </div>
        </div>
        <!-- FORM HERE -->
      </div>
    <footer class="page-footer">
        <div class="footer-logo">
            <img src="{% static 'src/img/page-logo.png' %}" alt="Page Logo">
        </div>
        <span class="copyright">Copyright &#169; E-Challan 2021 </span>
    </footer>
    <script src="{% static 'Js/slider.js' %}"></script>
    <script src="{% static 'Js/overlay.js' %}"></script>
</body>
</html>