{% extends 'index.html' %}

    
{% block content %}

<header>
    <div class="page-header">
        <div class="page-logo">
            <a href="index.html">
                <img src="src/img/page-logo.png" alt="Page Logo">
            </a>
        </div>
        <div class="page-nav">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="">Payment</a>
                </li>
                <li>
                    <a href="">Vehicle</a>
                </li>
            </ul>
        </div>
        <div class="log-in-section">
            <li class="log-in-button">
                <a href="log-in.html">Log in</a>
            </li>
        </div>
    </div>
</header>
<div class="main-body-section">
    <div class="hero-image">
        <img src="src/img/hero.jpg" alt="Hero image">
    </div>
</div>



{% endblock %}