{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Challan</title>
    <link rel = "icon" href = "{% static 'src/img/page-logo.png' %}" type = "image/x-icon">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="page-header">
            <div class="page-logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'src/img/page-logo.png' %}" alt="Page Logo">
                </a>
            </div>
            <div class="page-nav">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'create' %}" class="active-page">Create Challan</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="log-out-section">
                <li class="log-out-button">
                    <a href="{% url 'login' %}">Log Out</a>
                </li>
            </div>
        </div>
    </header>
</body>
</html>