*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif;
    margin: auto;
}

li{
    list-style: none;
}

a{
    display: block;
    color: black;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
}

header{
    max-height: 400px;
    overflow: visible;
    background-color: rgb(245, 245, 245);
}

.page-header{
    width: 89%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-logo{
    display: flex;
    width: 100px;
}

.page-logo img{
    width: 100%;
}

.page-nav ul{
    display: flex;
    justify-content: space-between;
}

.page-nav li{
    margin: auto 25px;
    border-radius: 5px;
}

.page-nav li:first-child{
    margin-left: 0px;
}

.page-nav li:last-child{
    margin-right: 0px;
}

.active-page{
    background-color: rgb(39, 39, 39);
    box-shadow: 2px 2px 2px rgb(63, 63, 63);
    color: white;
}

.page-nav a, .log-out-button a{
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}

.page-nav a:hover, .log-out-button a:hover{
    background-color: rgb(39, 39, 39);
    box-shadow: 1px 1px 1px rgb(63, 63, 63);
    color: white;
}

.user-details-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fa-user{
    cursor: pointer;
    padding: 12px;
    transition: color 300ms ease-in-out;
}

.fa-user:hover{
    color: rgb(102, 102, 102);
}





.dropdown{
    position: absolute;
    display: block;
    width: 10rem;
    top: 110%;
    right: -7%;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 2px solid black;
    z-index: 10;
    transition: all 300ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 3px rgb(63, 63, 63);
}

.dropdown::before{
    content: '';
    position: absolute;
    border: 0.8rem solid transparent;
    border-bottom-color: black;
    right: 15%;
    top: -34%;
}

.dropdown li{
    border-bottom: 1px solid black;
    font-size: 1rem;
    display: block;
    padding: 0.5rem 8px;
    font-weight: 500;
    cursor: default;
}

.dropdown li:last-child{
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.dropdown li:last-child:hover{
    background-color: rgb(39, 39, 39);
    color: white;
}
.user-details-section:hover .dropdown{
    visibility: visible;
    opacity: 1;
} 

.logout-page-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 109;
    width: 100%;
    height: 100%;
    background: rgba(36, 36, 36, 0.7);
    display: none;
    transition: all 800ms ease-in-out;
}

.logout-page-overlay .close-btn{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

.overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 30%;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 8px;
}

.overlay-options{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.overlay-options li{
    transition: all 300ms ease-in-out;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.overlay-options li:hover{
    color: #fff;
    background-color: #000;

}

.overlay-options a:hover{
    color: #fff;

}

                            /********TOGGLE MENU********/


                                    /* TOGGLE */

.toggle {
    width: auto;
    padding: 1rem;
    z-index: 10;
    cursor: pointer;
    display: none;
  }
  
  .toggle.active {
    z-index: 101;
  }
  
                            /******* TOGGLE NAVIGATION ********/

  .navigation {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .navigation.active {
    left: 0;
  }

  .mobile-profile{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
  }

  .mobile-profile li{
      padding: 0.6rem 1rem;
      border: 1px solid black;
  }

  .navigation ul {
    position: relative;
  }
  
  .navigation ul li {
    position: relative;
    list-style: none;
    text-align: center;
  }
  
  .navigation ul li a {
    font-size: 1.6rem;
    color: #111;
    text-decoration: none;
    font-weight: 300;
  }
  
  .navigation ul li a:hover {
    color: #004479;
  }


                        /********** PAGE FOOTER **********/

.page-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(245, 245, 245);
    height: 20vh;
}
.footer-logo img{
    width: 125px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


                            /****Responsive*****/

@media (max-width: 768px) {

    .page-nav{
        display: none;
    }

    .logout-page-overlay .close-btn{
        top: 3%;
    }

    .overlay-content{
        width: 60%;
    }

    .toggle{
        display: inline-block;
    }

    .page-footer{
        flex-direction: column;
        height: auto;
    }

    .user-details-section{
        display: none;
    }
}

@media (max-width: 468px){
    .overlay-content{
        width: 70%;
    }

}