*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

                    /********* PAGE HEADER ********/

.page-header{
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    margin-bottom: 20px;
}

.page-logo img{
    width: 200px;
}

                            /********MAIN CONTENT********/

.main-page-content{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}

.page-title{
    text-align: center;
    margin-bottom: 3rem;
}
.sign-in-form{
    display: flex;
    width: 500px;
    height: 350px;
    margin: 10px auto 30px auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgb(136, 136, 136);
    /* border: 1px solid red; */
}

.sign-in-form .username-section, .sign-in-form .password-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 275px;
    /* border: 1px solid red; */
}

.username-section input, .password-section input{
    font-size: 1rem;
    padding: 10px 5px;
    margin-top: 10px;
    font-family:'Poppins', sans-serif;
    border: none;
    border-bottom: 2px solid rgb(124, 124, 124);
    outline: none;
    /* border: 1px solid blue; */
}

.username-section label,.password-section label{
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 1rem;
    color: rgb(124, 124, 124);
    pointer-events: none;
    transition: all 300ms ease-in-out;
}
.username-section input:focus,.password-section input:focus,
.username-section input:valid,.password-section input:valid{
    border-bottom: 2px solid rgb(0, 0, 0);
}

.username-section input:focus ~ label,.password-section input:focus ~ label,
.username-section input:valid ~ label,.password-section input:valid ~ label{
    top: -13%;
    color: black;
    font-size: 0.9rem;
}

.sign-in-form .sign-in-button{
    width: 220px;
    padding: 10px;
    border: none;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 1rem;
    font-family:'Poppins', sans-serif;
    outline: none;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.sign-in-button:hover{
    background-color: rgb(51, 51, 51);
}


.return{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    width: 17%;
    border-radius: 10px;
}

.return a{
    color: white;
    display: block;
    width: 100%;
}


                            /********Footer********/

.page-footer{
    height: 120px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo img{
    width: 100px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-us-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.contact-details{
    display: flex;
    flex-direction: column;
}

.contact-details span{
    border-bottom: 2px dotted black;
}