.btns{
    text-align: center;
    margin: auto;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(0, 0, 0);
    width: 5%;
    border-radius: 50%;
    color: aliceblue;
}



@media print{
    header{
        display: none;
    }

    .page-footer{
        display: none;
    }

    .create-form{
        width: 75rem;
        margin-top: 150px;
    }

    .create-form label{
        font-size: 1rem;
    }

    .btns{
        display: none;
    }

    .submit-btn{
        display: none;
    }

    .create-form-section h1{
        display: none;
    }
}