{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header>
        <div class="page-header">
            <div class="page-logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'src/img/page-logo.png' %}" alt="Page Logo">
                </a>
            </div>
            <div class="page-nav">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'create' %}">Create Challan</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}" class="active-page">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="user-details-section">
                <i class="fas fa-user fa-3x"></i>
                <div class="dropdown">
                    <li class="user-name">{{request.user}}</li>
                    <li class="log-out-button">
                        <a href="{% url 'loginPage' %}">Log Out</a>
                    </li>
                </div>
            </div>
        </div>
    </header>
    <div class="logout-page-overlay">
        <span class="close-btn">x</span>
        <div class="overlay-content">
            <span class="overlay-message">Do you really want to logout?</span>
            <div class="overlay-options">
                <li class="no-logout">
                    <a href="{% url 'loginPage' %}">Yes</a>
                </li>
                <li class="no-logout">No</li>
            </div>
        </div>
    </div>

    <main>
        <div class="container">
            <div class="about-section" >
                <div class="inner-container">
                    <h1>
                        About Us
                    </h1>
                    <p class = "text">
                        We are HamiFit.com. We provide the products you need to build muscle, burn fat, be fit and become the best version of yourself. 
                        HamroFit.com is committed to offering our customers with a variety of fitness products including supplements, equipments, sports goods and the like at their door steps 
                        with just a few clicks. Our ultimate goal is to help our customers Learn and Transform themselves with the help of our equipments and our products. We aim to satisfy our 
                        customer by providing excellent service and friendly support. We save you the trouble of going from shop to shop to search for the products you want.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="footer-logo">
            <img src="{% static 'src/img/page-logo.png' %}" alt="Page Logo">
        </div>
        <span class="copyright">Copyright &#169; E-Challan 2021 </span>
        <div class="contact-info">
            <span>Email: abcd@gmail.com</span>
            <span>Phone:1234567890</span>
        </div>
    </footer>
    <script src="{% static 'Js/overlay.js' %}"></script>
</body>
</html>