 <!-- <h1>register</h1>

<form method = "POST" action="">
    {% csrf_token %}
    {% for fields in form %}
        {{fields.label}}
        {{fields}}
    {% endfor %}
    {{form.as_p}}
    <input type = "submit" name = 'create traffic police'>
</form> 
</form>
 -->

<h1>Sign Up</h1>
<form method="POST" action="">
    {% csrf_token %}
   
    {{form.username.label}}
    {{form.username}}

    {{form.email.label}}
    {{form.email}}

    {{form.password1.label}}
    {{form.password1}}

    {{form.password2.label}}
    {{form.password2}}
    

    <button type="submit" class="btn btn-success">Register</button>
</form>