.main-body-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
}

.create-form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 70%;
    /* border: 1px solid red; */
}

.create-form-section h1{
    margin-bottom: 1rem;
}

.create-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    background-color: rgb(250, 250, 250);
    font-size: 1em;
    padding: 1rem;
    border-radius: 8px;
    /* border: 1px solid red; */
}

.form-option{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto 1rem auto;
}

.form-option label{
    margin-bottom: 0.6rem;
}

.form-option input{
    padding: 0.8rem 1rem;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    transition: all 200ms ease-in-out;
}

.form-option input:focus, .form-option select:focus {
    border: 1px solid black;
}

.form-option textarea{
    padding: 0.8rem 1rem;
    outline: none;
    border: none;
    height: 7rem;
    resize: none;
    border-bottom: 2px solid black;
    transition: all 200ms ease-in-out;
}

.form-option textarea:focus, .form-option select:focus {
    border: 1px solid black;
}

.form-option select{
    font-size: 1em;
    padding: 0.8rem 1rem;
    border: none;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.submit-btn{
    padding:1rem 1rem;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    color: rgb(250, 250, 250);
    border: none;
    background-color: black;
    cursor: pointer;
}